.cell-user {
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.user-label {
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 50px;
}

.cell-user input {
    text-align: left;
    vertical-align: middle;
    display: inline;
    font-size: 2rem;
    display: none;
}

/* Hide the browser's default checkbox */
/*.user-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}*/

/* Create a custom checkbox */
/*.user-span {
    position: absolute;
    top: 8px;
    left: 85px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}*/

/* On mouse-over, add a grey background color */
/*.user-label:hover input ~ .user-span {
    background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background */
/*.user-label input:checked ~ .user-span {
    background-color: #ff720a;
}*/

/* Create the checkmark/indicator (hidden when not checked) */
/*.user-span:after {
    content: "";
    position: absolute;
    display: none;
}*/

/* Show the checkmark when checked */
/*.user-label input:checked ~ .user-span:after {
    display: block;
}*/

/* Style the checkmark/indicator */
/*.user-label .user-span:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/