[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
djangorestframework = "==3.9.1"
django-filter = "==1.1.0"
djangorestframework-jwt = "==1.11.0"
django-cors-headers = "==3.1.0"
django-allauth = "==0.35.0"
django-rest-auth = {extras = ["with_social"],version = "*"}
olefile = "==0.44"
flake8 = "==3.5.0"
Django = "==2.0.12"
Markdown = "==3.1.1"
django-environ = "==0.4.5"
certifi = "==2019.9.11"
chardet = "==3.0.4"
defusedxml = "==0.6.0"
idna = "==2.8"
mccabe = "==0.6.1"
oauthlib = "==3.1.0"
protobuf = "==3.9.1"
pycodestyle = "==2.3.1"
pyflakes = "==1.6.0"
python3-openid = "==3.1.0"
pytz = "==2019.2"
requests-oauthlib = "==1.2.0"
requests = "==2.22.0"
six = "==1.12.0"
urllib3 = "==1.25.3"
astroid = "==2.2.5"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.2"
typed-ast = "==1.4.0"
wrapt = "==1.11.2"
PyJWT = "==1.7.1"
pymysql = "*"
cryptography = "*"
simplejson = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
