.profile-title {
    font-size: 28px;
    color: white;
    padding: 8px 8px 14px 0;
    margin: 0 13%;
}

.profiletable-grid {
    display: grid;
    grid-template-rows: repeat(16, 48.4375);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-subtitle-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile-subtitle {
    color: white;
    font-size: 24px;
    background-color: #494949;
    padding: 0px 11.469px;
    line-height: 48.4375px;
}

#profile-subtitle-text {
    border-top-left-radius: 10px;
}

#profile-subtitle-button {
    border-top-right-radius: 10px;
    display: grid;
}

#profile-subtitle-button img {
    justify-self: right;
    align-self: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile-grid {
    margin: 0% 13%;
    height: 90%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 64% 41%;
}

.profile-grid .profilerow-grid:nth-child(even) {
    background-color: #fcfcfc;
}

.profile-grid .profilerow-grid:nth-child(odd) {
    background-color: #e5e2e2;
}

.profile-grid .profilerow-grid:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#informations {
    grid-row: 1/3;
}

.cards-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 15px;
}

.cards-grid h4 {
    color: #919191;
    font-size: 24px;
    margin: 0 10%;
    line-height: 60px;
}

#post-office {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    grid-template-rows: 60px 120px repeat(4, 40px);;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-office-container {
    margin: 0 20%;
}

#post-office-button-container {
    display: grid;
}

.post-office-button {
    background-color: #494949;
    color: white;
    justify-self: center;
    width: 50%;
}


.post-office-img {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
}

#post-office-photo {
    width: 80%;
    display: block;
    margin: auto;
}

.type-post-office {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr repeat(3, minmax(60px, 2fr)) 1fr;
}

.post-office-select {
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 50%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
}

.semester-post-office {
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 50%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
}

.accept-post-office {
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 70%;
    font-size: 20px;
    display: grid;
}
.accept-post-office>button {
    justify-self: stretch;
}

.post-office-subtitle {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

#post-office-img-grid {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    border: none;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
}
  
#post-office-user-photo {
    width: 90%;
    height: 90%;
    display: block;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: auto;
    border: none;
}

@media screen and (max-width: 980px) {
    
    .profile-title {
        margin: 0 17%;
    }

    .profile-grid {
        margin: 0 17%;
        grid-gap: 40px;
        grid-template-columns: 118%;
    }
    
    .profiletable-grid>div:nth-child(4) {
        display: none;
    }

    .profiletable-grid>div:nth-child(5) {
        display: none;
    }

    .cards-grid {
        grid-row-gap: 40px;
    }

    #selfhour {
        margin-bottom: 10%;
    }
    
}