.page-template {
  width: 80%;
  height: 85%;
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 6%;
  display: grid;
  grid-template-rows: 8% 90%;
  row-gap: 2%;
}

.page-template-title {
  padding: 16px;
  font-size: 22px;
  color: white; /* this is not the final color */
  text-align: center;
}

.page-template-content {
  padding: 16px;
}

@media screen and (max-width: 1000px) {
  .page-template {
    margin-top: 0px;
  }
}

@media screen and (max-width: 640px) {
  .page-template {
    width: 90%;
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 480px) {
  .page-template {
    width: 80%;
    height: 95%;
    margin-left: 10%;
    margin-right: 0%;
    grid-template-rows: 7% 92%;
    row-gap: 1%;
  }

  .page-template-title {
    padding: 12px;
    font-size: 22px;
    color: white; /* this is not the final color */
    text-align: center;
  }

  .page-template-content {
    padding: 12px;
  }
}

@media screen and (max-width: 320px) {
  .page-template {
    width: 92%;
    height: 95%;
    margin-top: 0px;
    margin-left: 4%;
  }
}